.hamburger {
    display: none;
    cursor: pointer;

}

@media screen and (max-width:768px) {
    .hamburger {
        display: flex;
        margin-right: 25px;
        
    }
    /* ocultar  */
    .menuSandwich{
        display: none;
    }
    .show{
        display: flex;
        width: 30%;
        height: auto;
        position: absolute;
        top: 65px;
        right: 0;
        background-color: white;
        flex-direction: column;
        padding-inline: 60px;
        padding-block: 20px;
        gap: 1rem;
    }

    @media (max-width: 480px) {
        .show {
            width: 50%;
        }
    }
}

